* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
}
img {
  width: 100%;
}
@media screen and (width: 1920px) {
  html {
    font-size: 100px;
    min-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 53.33333333px !important;
  }
}

@media screen and (min-width: 1366px) {
  html {
    font-size: 71.14583333px !important;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 66.66666667px !important;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 75px !important;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 83.33333333px !important
  }
}

@media screen and (min-width: 1920px) {
  html {
    font-size: 100px !important;
  }
}

.bgImg {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.pagerTiT {
  height: 1rem;
  background-image: url("../img/TitBack.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.pagerTiT .text {
  position: absolute;
  z-index: 100;
  font-size: 0.2rem;
  height: 1rem;
  line-height: 1rem;
  color: #fff;

}

.pagerTiT .text a {

}
